*
{padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 980px) {
  header nav ul li{
    display: none;
  }
  header{
    width: 100%;
  }
}
@media only screen and (max-width: 1260px) {
  .img_position{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .background_card{
    width: 380px;
    max-height: 420px;
  }
  @media only screen and (max-width: 500px) {
    .b_2_right{
      width: 380px;
    }
    .b_2_left{
      width: 380px;
    }
    .bottom_1{
      width: 380px}
    .bottom_2{
    width: 380px}
    .bottom_3{
      width: 380px}
  }
}
@font-face {
  font-family:'Poppins';
  src: url('../fonts/Poppins Regular.eot');
  src: url('../fonts/Poppins Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins Regular.woff2') format('woff2'),
  url('../fonts/Poppins Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family:'Poppins';
  src: url('../fonts/Poppins Bold.eot');
  src: url('../fonts/Poppins Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins Bold.woff2') format('woff2'),
  url('../fonts/Poppins Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family:'Poppins Medium';
  src: url('../fonts/Poppins Medium.eot');
  src: url('../fonts/Poppins Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins Medium.woff2') format('woff2'),
  url('../fonts/Poppins Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family:'Poppins Thin';
  src: url('../fonts/Poppins Thin.eot');
  src: url('../fonts/Poppins Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins Thin.woff2') format('woff2'),
  url('../fonts/Poppins Thin.woff') format('woff');
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
.container{
  max-width: 1440px;
  margin: auto;
  background: black;
}
.header{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  align-items: center;
  margin: 0 30px;
}
.header a{
  color: black;
}
.login{
  text-decoration: none;
  border-radius: 14px;
  width: 155px;
  height: 42px;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.login a{
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
}
.header nav ul{
  display: flex;
  justify-content: space-between;
}
.header nav ul li{
  margin: 0 28px;
}
.header nav ul li a{
  text-decoration: none;
  color: #D6D6D6;
}
.section-1{
  background-image: url("../images/background-section-1.png");
  font-family: 'Poppins', sans-serif;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.section-1_text{
  max-width: 600px;
  margin-bottom: 60px;
}

.icons-s1{
  color: white;
  min-width: 300px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.icons-s1 ul{
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.icons-s1 .icons-s1-1::before{
  content: url("../images/Shutter-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s1 .icons-s1-1{
  position: relative;
}
.icons-s1 .icons-s1-2::before{
  content: url("../images/Aperture-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s1 .icons-s1-2{
  position: relative;
}
.icons-s1 .icons-s1-3::before{
  content: url("../images/ISO-Icon-Light.png");
  position: absolute;
  left: -40px;
}
.icons-s1 .icons-s1-3{
  position: relative;
}
.icons-s1 .icons-s1-4::before{
  content: url("../images/Location-Icon-Light.png");
  position: absolute;
  left: -20px;
}
.icons-s1 .icons-s1-4{
  position: relative;
}

.section-1_text h3{
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  color: #c0c0c0;
}
.section-1_text h1{
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}
.section-1_text p{
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #c0c0c0;
}
.section-2{
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  min-height: 1560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.s2_text h1{
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.s2_text h3{
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #c0c0c0;
}
.s2_text{
  max-width: 600px;
}
.s2_text h3{
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #c0c0c0;
}
.section-2_text h1{
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
}
.s2_table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
  margin-bottom: 100px;
}
.s2_cards article{
  max-width: 500px;
}
.s2_card a{
  border-radius: 14px;
  width: 143px;
  height: 42px;
}
.s2_card{
  position: relative;
  max-width: 576px;
  min-height: 600px;
  margin: 8px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
}
.s2_card_text{
  position: absolute;
  max-width: 510px;
  margin: 30px;
}
.s2_card_text a img{
  margin-right: 10px;
}
.s2_card a{
  text-decoration: none;
  border-radius: 14px;
  width: 143px;
  height: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.s2_card p{
  margin-bottom: 20px;
}
.s2_card h2{
  margin-bottom: 20px;
}
.text_right{
  margin: 30px;
}
.text_right h3{
  margin-bottom: 10px;
}

.section-3{
  background-image: url("../images/background-section-3.png");
  font-family: 'Poppins', sans-serif;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.icons-s3{
  color: white;
  min-width: 260px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.icons-s3 ul{
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.icons-s3 .icons-s3-1::before{
  content: url("../images/Shutter-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s3 .icons-s3-1{
  position: relative;
}
.icons-s3 .icons-s3-2::before{
  content: url("../images/Aperture-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s3 .icons-s3-2{
  position: relative;
}
.icons-s3 .icons-s3-3::before{
  content: url("../images/ISO-Icon-Light.png");
  position: absolute;
  left: -40px;
}
.icons-s3 .icons-s3-3{
  position: relative;
}
.icons-s3 .icons-s3-4::before{
  content: url("../images/Location-Icon-Light.png");
  position: absolute;
  left: -20px;
}
.icons-s3 .icons-s3-4{
  position: relative;
}

.section-3 h3{
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
}
.section-3 p{
  max-width: 300px;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.section-4{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 540px;
}
.s4-text{
  line-height: 150%;
  color: #c0c0c0;
  max-width: 500px;
  margin: 30px;
}
.s4-text p{
  max-width: 480px;
  margin-bottom: 16px;
}
.s4-text h2{
  margin-bottom: 16px;
}
.s4-text h3{
  margin-bottom: 16px;
}
.s4-text a{
  text-decoration: none;
  border-radius: 14px;
  width: 160px;
  height: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.section-5{
  background-image: url("../images/background-section-5.png");
  font-family: 'Poppins', sans-serif;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.icons-s5{
  color: white;
  min-width: 320px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.icons-s5 ul{
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.icons-s5 .icons-s5-1::before{
  content: url("../images/Shutter-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s5 .icons-s5-1{
  position: relative;
}
.icons-s5 .icons-s5-2::before{
  content: url("../images/Aperture-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s5 .icons-s5-2{
  position: relative;
}
.icons-s5 .icons-s5-3::before{
  content: url("../images/ISO-Icon-Light.png");
  position: absolute;
  left: -40px;
}
.icons-s5 .icons-s5-3{
  position: relative;
}
.icons-s5 .icons-s5-4::before{
  content: url("../images/Location-Icon-Light.png");
  position: absolute;
  left: -20px;
}
.icons-s5 .icons-s5-4{
  position: relative;
}

.section-5 h3{
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
}
.section-5 p{
  max-width: 300px;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.section-6{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 500px;
  color: #c0c0c0;
  position: relative;
}
.section-6 h3{
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #c0c0c0;
}
.section-6 h2{
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.s6_logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
  gap: 50px;
  margin: 0 30px;
}

.section-7{
  background-image: url("../images/background-section-7.png");
  font-family: 'Poppins', sans-serif;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.icons-s7{
  color: white;
  min-width: 260px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.icons-s7 ul{
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.icons-s7 .icons-s7-1::before{
  content: url("../images/Shutter-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s7 .icons-s7-1{
  position: relative;
}
.icons-s7 .icons-s7-2::before{
  content: url("../images/Aperture-Icon-Light.png");
  position: absolute;
  left: -25px;
}
.icons-s7 .icons-s7-2{
  position: relative;
}
.icons-s7 .icons-s7-3::before{
  content: url("../images/ISO-Icon-Light.png");
  position: absolute;
  left: -40px;
}
.icons-s7 .icons-s7-3{
  position: relative;
}
.icons-s7 .icons-s7-4::before{
  content: url("../images/Location-Icon-Light.png");
  position: absolute;
  left: -20px;
}
.icons-s7 .icons-s7-4{
  position: relative;
}

.section-7 h3{
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
}
.section-7 p{
  max-width: 300px;
  font-size: 14px;
  line-height: 143%;
  color: #c0c0c0;
}
.section-8{
  font-family: 'Poppins', sans-serif;
  min-height: 420px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.s8-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s8-text p{
  max-width: 600px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #c0c0c0;
}
.section-8 a{
  text-decoration: none;
  border-radius: 14px;
  width: 140px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.s8-text h1{
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.s9_bottom{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  min-height: 400px;
  margin: 0 30px;
}
.s9_text{
  max-width: 380px;
}
.bottom_1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}
.s9_list ul li{
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 183%;
  color: #fff;
}
.bottom_2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.bottom_2 input{
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  max-width: 458px;
  height: 52px;
  text-align: center;
}
.b_2_right button{
  border-radius: 8px;
  width: 63px;
  height: 40px;
  background: #000;
  position: absolute;
  bottom: 18px;
  right: 6px;
}
.bottom_3 ul li{
  list-style: none;
}
.bottom_3 ul{
  display: flex;
  gap: 30px;
}
.bottom_3{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bottom_3 p{
  margin-bottom: 20px;
}
.login:hover{
  color: #999999;
  border-radius: 28px;
}
.header nav ul li{
  transition: 0.5s;
}
.header nav ul li:hover{
  border-radius: 4px;
  scale: 110%;
  background: #282828;
}
.line{
  width: 100%;
  margin: 20px 0;
}
.bottom_1 ul li{
  list-style: none;
  text-decoration: none;
}
.special{
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #c0c0c0;
}